*{
    padding: 0px;
    margin: 0px;
  
  }

.head{
    text-align: right;
}

.fir{
    display: flex;
    width: 100%;
}

a{
    height: 20px;
    width: 25%;
    background-color:#adafb0;
    padding: 20px 10px 30px 10px;
    margin: 50px;
    border: 2px solid rgb(14, 7, 7);
    text-align: center;
    text-decoration: none; 
    color: rgb(13, 12, 12);
    
    
}
a:hover{
    background-color: aliceblue;
    color: black;
}

.now{
    background-color: rgb(7, 5, 95);
    color: white;
    border: 2px solid rgb(248, 244, 244);
}

h3{
    background: fixed;
    
}



h1{
    text-align: center;
    color: rgb(245, 245, 246);
}

table tr td{
    height: 70px;     
}

table{
    width: 100%;
    margin: 5px;
}

tr{
    width: 100%;
}

.input1{
   text-align: center;
   height: 150px;
}

h2{
    text-align: right; 
    padding: 0px 10px;
    color: rgb(247, 247, 250);
}

.input4{
    width:30%;
}

.first{
    width: 600px;
    height: 30px;
    border:  1px solid rgb(8, 8, 115);
}

.second{
    width: 600px;
    height: 30px;
    border:  1px solid rgb(8, 8, 115);
}
.third{
    width: 200px;
    height: 30px;
    border:  1px solid rgb(8, 8, 115);
}

.btn{
    background: rgb(8, 2, 79);
    padding: 5px 30px;
    text-decoration: none;
    color: rgb(248, 247, 246);
    border: 1px solid rgb(248, 246, 246);
    width: 200px;
    height: 40px;
}

.btn:hover{
    background: rgb(231, 227, 227);
    color: rgb(7, 4, 182);
}

.input3{
    width:9%;
}

.new{
    text-align: center;
}

.btn1{
    background: rgb(12, 2, 77);
    padding: 15px 50px;
    text-decoration: none;
    color: rgb(250, 247, 245);
    border: 1px solid rgb(211, 179, 179);
    margin: 5px 20px 0px;
}

.btn1:hover{
    background: rgb(231, 227, 227);
    color: rgb(7, 4, 182);
    border: 1px solid rgb(12, 2, 2);
}


