body {
  display: grid;
  place-items: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr 2fr 1fr;
  grid-template-areas:
          "name price"
          "product_image category"
          "quantity options"
          "description description"
          "button button";
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, .5) 10px 10px 10px;
  width: 70%;
  padding: 20px 0;
}

label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 20px;
  padding: 0 50px;
}

#description {
  width: 75%;
}

#product_image {
  display: flex;
  justify-content: flex-end;
}

button {
  grid-area: button;
  margin: 0 100px;
  font-size: 2rem;
}

@media (max-width: 750px) {
  form {
    display: block;
    text-align: center;
  }
}