*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.middle{
    
    height: 650px;
    width: 100%;
    background-color: rgb(97, 99, 99);
    background-image: url(s-l1600.jpg);
}

.first{
    display: flex;
}

a:link{
    height: 100px;
    width: 25%;
    background-color: rgb(94, 187, 233);
    padding: 30px;
    margin: 50px;
    border: 5px solid rgb(20, 10, 10);
    text-align: center;
    text-decoration: none; 
    color: rgb(24, 21, 21);
    
}

a:visited {
    background-color: #848c91;
    color: rgb(18, 17, 16);
    border: 5px solid rgb(13, 5, 5);
  }

a:active {
    background-color: #eff6fb;
    color: rgb(18, 17, 16);
    border: 5px solid rgb(13, 5, 5);
  }
  
.second{
    display: flex;
   
}

.value{
    height: 300px;
    width: 25%;
    background-color: rgb(203, 208, 205);
    padding: 10px;
    margin: 50px;
    border: 5px solid black;
    text-align: center;  
    opacity: 0.6;
}

.total{
    height: 150px;
    width: 150px;
    background-color: rgba(13, 13, 13, 0.93);
    padding: 60px;
    margin: 50px;
    text-align: center;
    color: rgb(249, 251, 253);
    
}
   
