.container {
    width: 100%;
    overflow: clip;
    position: relative;
}
.hidden {
    display: none;
}
.handle {
    position: absolute;
    border: none;
    border-radius: 1rem;
    height: 100px;
    flex: 0 0 5%;
    background: rgba(0,0,0,.25);
    z-index: 100;
    cursor: pointer;
    transform: translateY(-50%);
}
.handle:hover, .handle:focus {
    background: rgba(0,0,0,.5);
}
.handle:after{
    font-size: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}
.handle.left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    top: 50%;
    left: 20px;
}
.handle.left:after {
    content: "\2039";
}
.handle.right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    top: 50%;
    right: 20px;
}
.handle.right:after {
    content: "\203A";
}
.slider {
    display: flex;
    transform: translateX(0%);
}
.slider > img {
    min-width: 33%;
    /*flex: 0 0 33%;*/
    aspect-ratio: 16 / 9;
    padding: .5rem;
    overflow: hidden;
}