body {
  overflow-x: clip;

  main {
    overflow: clip;
    height: 80vh;
    object-fit: cover;

    img {
      height: 100%;
      object-fit: cover;
      width: auto;
      margin: 0 10px 0 0;
    }
  }

  .category {
    position: relative;
    background-color: white;
    height: 60%;

    button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .2);
      padding: 10px;
      font-size: 2rem;
      opacity: .5;
      z-index: 100;

      &:hover {
        opacity: 1;
      }

      &.left-btn {
        left: 10px;
      }

      &.right-btn {
        right: 10px;
        color: white;
      }

      &.hide {
        display: none;
      }
    }


    .image-container {
      width: 120%;
      display: flex;
      //flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      //overflow-y: clip;
      animation: sliderAnimation ease-in-out infinite forwards alternate;

      .category-img {
        //margin-right: 5px;
        //border: 1px solid black;

        &:first-child {
          margin-left: 20px;
        }

        img {
          width: 33%;
          height: 20%;
          object-fit: cover;
        }
      }

      @keyframes sliderAnimation {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-20%);
        }
      }
    }
  }

  .banner {
    width: 100%;
    height: 50%;
    background-color: black;
    margin-top: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;

    img {
      height: 100%;
      width: auto;
      object-fit: contain;
      aspect-ratio: 16/9;
    }
  }
}

.slide-out {
  animation: slideOut linear;
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-1%);
    }
  }
}
