body {
  overflow-x: clip;

  main {
    overflow: clip;
    height: 80vh;

    .hero-img-container {
      display: flex;
      animation: slide 10s cubic-bezier(1, 0, 0, 1) infinite alternate;

      img {
        height: 80vh;
        aspect-ratio: 9 / 9;
        margin: 0 10px 0 0;
      }
    }

    @keyframes slide {
      0% {
        transform: translateX(0%);
      }
      50% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(-200%);
      }
    }
  }

  .category {
    .image-container {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: space-between;
      overflow-y: clip;
      .handle.left {

      }
      &:after {
        content: "\2039";
      }

      &:before {
        content: "\203A";
        right: 0;
      }

      .category-img {
        margin-right: 20px;

        &:first-child {
          margin-left: 50px;
        }

        img {
          width: 500px;
          height: 250px;
          object-fit: cover;
          border: 1px solid black;
        }
      }
    }
  }

}
