body {
    min-width: 100vw;
    min-height: 100vh;
    overflow-x: clip;
    background-color: #cad3dc;
}

main {
    width: 100%;
    height: 100%;
    position: relative;
    /*background: hotpink;*/
}

.image-container, .category {
    width: 100%;
    height: 23vw;
}

.category {
    margin-top: 20px;
    /*background: lightgreen;*/
}

.image-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
}

.category .category-tag {
    text-align: center;
    border-top: 2px solid black;
    background-color: #022342;
    color: white;
  }


.category-img {
    width: 19vw;
    /*background: rebeccapurple;*/
    margin-right: 1vw;
    text-align: center;
}

.category-img img {
    width: 100%;
    height: 100%;
}

svg {
    position: absolute;
    z-index: 100;
}


.search button.btn {
    background: #3e5986;
    padding: 5px 5px;
    /*width: 30px;*/
    /*height: 30px;*/
    border: 3px solid rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.search button.btn i {
    font-size: 1.25rem;
}