body {
  min-height: 100vh;
  display: grid;
  place-items: center;

  form {
    border: 1px solid black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: black 10px 10px 10px;

    h1 {
      margin-bottom: 10px;
      text-align: center;
    }

    .wrong-credentials {
      text-align: center;
      padding: 10px 0;
      border: 1px red solid;
      margin: 20px;
      border-radius: 5px;
      color: red;
      font-weight: bold;
    }

    label, input {
      display: block;
    }

    .email-field {
      input {
        width: 100%;
      }
    }

    .password-field {
      display: flex;
      flex-direction: column;
      margin: 20px 0 ;

      input {
        display: inline-block;
      }

      .icon {
        width: 25px;
        height: auto;
        display: inline-block;
      }
    }

    .error-text {
      color: red;
      margin-bottom: 20px;
    }

    input, input:focus {
      border-bottom: 1px solid black;
    }

    #login-btn {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      color: white;
      background: green;
      outline: none;
      border: none;
      border-radius: 5px;
    }

    .ps-forgot {
      text-align: center;
    }

    .remember-me {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      input {
        margin-right: 10px;
      }
    }

    input {
      margin-right: 5px;
    }
  }
}

@media (max-width: 500px) {
  form {
    width: 90vw;

    h1 {
      font-size: 4.5rem;
    }

    label {
      font-size: 2rem;
    }

    a {
      font-size: 1.5rem;
    }

    input[type="checkbox"] {
      padding: 500px;
    }

    button[type="submit"] {
      font-size: 2rem;
    }

    .password-field {
      input {
        width: 90%;
      }
    }
  }
}