* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
:empty:not(img, picture, svg, input, button, hr){
  display: none;
}
input, input:active, input:focus, input:target {
  outline: none;
  border: none;
}