*{
    padding: 0;
    margin: 0;

}

.row{
    width:100%;
    height:90%;
}

.row-25{
    width:25%;
    height:100%;
    float:left;
}

.row-75{
    width:75%;
    height:100%;
    float:right;
}

.top{
    width:100%;
    height:35%;
}

.bottom{
    width:100%;
    height:65%;

}

.left{
    width:30%;
    height:100%;
    float:left
}

.right{
    width:70%;
    height:100%;
    float:right;
}

.half1{
    width:50%;
    height:100%;
    float:left;
}

.half2{
    width:50%;
    height:100%;
    float:right;
}

.submit{
    width:100%;
    height:10%;
    display: flex;
  justify-content: center;
}

.button{
    font-size: 16px;
    padding: 13px 28px;
    text-align: center;
}

p{
    font-size: larger;
    text-align: center;
}

h1{
    text-align: center;
}

.message{
    display:block;
    background: var(--bg-color);
    padding: 1.5rem 1rem;
    font-size: 2 rem;
    color: var(--black);
    margin-bottom: 2rem;
}