table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  th {
    background-color: #4caf50;
    color: white;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    font-size: 18px;
  }
  
  input[type=text] {
    width: 50px;
    height: 25px;
    text-align: center;
    border: 1px solid #ccc;
  }
  #place-order-button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    font-size: 16px;
    width: auto;
    height: auto;
    position: absolute;
    right: 20%;
    margin-top: 3%;
  }
  
  #place-order-button:hover {
    background-color: #45a049;
  }
  
  